body{
    font-family: "Gill Sans", sans-serif;
    margin: unset;


}
.wrapper {
    width: 100%;
    background-color: #ffffff;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

.header {
    background-color: #333231;
    height: 70px;
    border-bottom: 2px solid #ffa244;
}

.menu {
    width: 1300px;
    height: 70px;
    display: flex;
    margin: 0 auto;
}

.menu-items{
    width: 520px;
    margin: 0 auto;
    padding-bottom: 70px;
}

.menu-items li{
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
    float: left;
}

.footer{
    display: flex;
    margin-top: 83px;
    height: 100px;
    background-color: #333231;
}

.footer-items{
    text-align: left;
    width: 300px;
    padding: 10px 10px 10px 10px;
}

.footer-items li{
    list-style-type: none;
    color: rgb(255, 255, 255);
}

.footer-social{
    width: 100%;
    text-align: end;
    margin-right: 50px;
    padding: 25px 10px 10px 10px;
}

.row{
    margin-top: 60px;
}

.column-inner{
    display: flex;
    padding: 20px 0px 20px 0px;
}

.container-left{
    padding-right: 30px;
    flex: 1 1 0px;
}
.container-right{
    padding-left: 30px;
    flex: 1 1 0px;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 0;
    width: 640px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 1rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider::-webkit-scrollbar{
    display: none;
}

.slider-buttons{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-buttons a{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-buttons a:hover{
    opacity: 1;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

h2 a:link{
    text-decoration: none;
    color: #ffffff;;
}

h2 a:hover{
    text-decoration: none;
    color: #ffa244
}

a:visited {
    text-decoration: none;
    color: #ffffff;
}

html, body { height: 100%; margin: 0; }

.slider, .slider .imgs {
  width: 100%;
  height: 100%;
  max-height: 700px;
  position: relative;
}

.slider {
  height: 100%;
  max-height: 700px;
}

.slider .imgs {
  display: flex;
  overflow: hidden;
}

.slider .img {
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  left: 100%;
  animation: .6s cubic-bezier(0.645, 0.045, 0.355, 1) 0s left;
  animation-fill-mode: forwards;
  background-size: cover !important;
  background-position: 50% !important;
}


.slider .img:nth-of-type(1) { background: url("cozy.jpg"); }
.slider .img:nth-of-type(2) { background: url("puuonn.jpg"); }
.slider .img:nth-of-type(3) { background: url("vagun.jpg"); }
.slider .img:nth-of-type(4) { background: url("koosolekusaal.jpg"); }

.slider .img span {
  padding: 7px 20px;
  background: rgba(0, 0, 0, .8);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: #f0f0f0;
  font-size: 14px;
  font-family: sans-serif;
}

.dots {
  position: absolute;
  bottom: -18px;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.dot {
  width: 8px;
  height: 8px;
  background: gray;
  border-radius: 50%;
  margin: 0 3px;
  cursor: pointer;
}

.active-dot {
  background: #3f3f3f;
  cursor: default;
}

@keyframes leftNext {
  from { left: 100%; }
  to { left: 0; }
}

@keyframes leftCurr {
  from { left: 0; }
  to { left: -100%; }
}

@keyframes rightNext {
  from { left: -100%; }
  to { left: 0; }
}

@keyframes rightCurr {
  from { left: 0; }
  to { left: 100%; }
}

.button {
    border-radius: 4px;
    border: none;
    text-align: center;
    font-size: 28px;
    padding: 20px;              
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position: fixed;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }